<div id="profileImage" ng-include='"templates/profile_header.html"' class="col-xs-12"></div>
	

	<div class="col-xs-12">
		
		<div class="containerElement  col-md-12 hidden-sm-down">
			<div>
				<div class="element rhombus col-xs-12"> 
				<img align="middle" class="rhombusImg" style="margin-left: 15px;margin-top: 15px;width: 70%;height: 70%;" src="img/work.gif"/>
			</div>
			</div>
			
			<div class="elementContent  centerContent hidden-sm-down col-xs-12">
				{{ 'ACTUAL_WORK' | translate }} 
			</div>
		</div>

		
	</div>


	<div class="col-xs-12">
		<div class="col-xs-12 containerBox">
			<div class="col-xs-12 titleContainer">
				{{ 'TURPIAL_WORK' | translate }}
				
			</div>
			<div class="col-xs-12 elementContent subelement textContainer">
				<br>
				<img class="col-sm-3 hidden-sm-down" src="img/TURPIAL_logo.png" />
				<a href="http://turpialdev.com/" target="_blank"></a>	
				{{ 'TURPIAL_WORK_DESCRIPTION' | translate }}
				<br>

			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="col-xs-12 containerBox">
			<div class="col-xs-12 titleContainer">
				{{ 'MOBILEMEDIA_WORK' | translate }}
				
			</div>
			<div class="col-xs-12 elementContent subelement textContainer">
				<br>
				<img class="col-sm-3 hidden-sm-down" style="height: auto" src="img/MOBILEMEDIA_logo.png" />
				<a href="http://www.mobilemedia.net/" target="_blank"></a>				
				{{ 'MOBILEMEDIA_WORK_DESCRIPTION' | translate }}
				<br>

			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="col-xs-12 containerBox">
			<div class="col-xs-12 titleContainer">
				{{ 'RESEARCH_PHD_WORK' | translate }}
				
			</div>
			<div class="col-xs-12 elementContent subelement textContainer">
				<br>
				<img class="col-sm-3 hidden-sm-down" src="img/USB_logo.png" />
				{{ 'RESEARCH_PHD_WORK_DESCRIPTION' | translate }}
				<br>

			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="col-xs-12 containerBox">
			<div class="col-xs-12 titleContainer">
				{{ 'RESEARCH_MASTER_WORK' | translate }}
				
			</div>
			<div class="col-xs-12 elementContent subelement textContainer">
				<br>
				<img class="col-sm-3 hidden-sm-down" src="img/USB_logo.png" />
				{{ 'RESEARCH_MASTER_WORK_DESCRIPTION' | translate }}
				<br>

			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="col-xs-12 containerBox">
			<div class="col-xs-12 titleContainer">
				{{ 'INTEGRA_WORK' | translate }}
				
			</div>
			<div class="col-xs-12 elementContent subelement textContainer">
				<br>
				<img class="col-sm-3 hidden-sm-down" src="img/INTEGRA_logo.png" />
				<a href="http://www.integra.la/" target="_blank"></a>
				{{ 'INTEGRA_WORK_DESCRIPTION' | translate }}
				<br>

			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="col-xs-12 containerBox">
			<div class="col-xs-12 titleContainer">
				{{ 'SKAT_WORK' | translate }}
				
			</div>
			<div class="col-xs-12 elementContent subelement textContainer">
				<br>
				<img class="col-sm-3 hidden-sm-down" style="background-color: #22689B; padding: 10px;" src="img/SKAT_logo.png" />
				<a href="http://www.skatsistemas.com/proyectos.html" target="_blank"></a>
				{{ 'SKAT_WORK_DESCRIPTION' | translate }}
				<br>

			</div>
		</div>
	</div>


	<div class="col-xs-12">
		<div class="col-xs-12 containerBox">
			<div class="col-xs-12 titleContainer">
				{{ 'COURSERA_WORK' | translate }}
				
			</div>
			<div class="col-xs-12 elementContent subelement textContainer">
				<br>
				
				{{ 'COURSERA_WORK_DESCRIPTION' | translate }}
				<br>

			</div>
		</div>
	</div>


	<div class="col-xs-12">
		<div class="col-xs-12 containerBox">
			<div class="col-xs-12 titleContainer">
				{{ 'TEACHING_ASSISTANCE_MATVI_WORK' | translate }}
				
			</div>
			<div class="col-xs-12 elementContent subelement textContainer">
				<br>
				<img class="col-sm-3 hidden-sm-down" src="img/USB_logo.png" />
				{{ 'TEACHING_ASSISTANCE_MATVI_WORK_DESCRIPTION' | translate }}
				<br>

			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="col-xs-12 containerBox">
			<div class="col-xs-12 titleContainer">
				{{ 'TEACHING_ASSISTANCE_MATIII_WORK' | translate }}
				
			</div>
			<div class="col-xs-12 elementContent subelement textContainer">
				<br>
				<img class="col-sm-3 hidden-sm-down" src="img/USB_logo.png" />
				{{ 'TEACHING_ASSISTANCE_MATIII_WORK_DESCRIPTION' | translate }}
				<br>

			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="col-xs-12 containerBox">
			<div class="col-xs-12 titleContainer">
				{{ 'TEACHING_ASSISTANCE_MATII_WORK' | translate }}
				
			</div>
			<div class="col-xs-12 elementContent subelement textContainer">
				<br>
				<img class="col-sm-3 hidden-sm-down" src="img/USB_logo.png" />
				{{ 'TEACHING_ASSISTANCE_MATII_WORK_DESCRIPTION' | translate }}
				<br>

			</div>
		</div>
	</div>


	<div class="col-xs-12">
		<div class="col-xs-12 containerBox">
			<div class="col-xs-12 titleContainer">
				{{ 'REVIEWER_CONFERENCES' | translate }}
				
			</div>
			<div class="col-xs-12 elementContent subelement textContainer">
				<br>
				<img class="col-sm-3 hidden-sm-down" src="img/USB_logo.png" />
				{{ 'REVIEWER_CONFERENCES_DESCRIPTION' | translate }}
				<br>

			</div>
		</div>
	</div>

