<div id="profileImage" ng-include='"templates/profile_header.html"' class="col-xs-12"></div>


	<div class="col-xs-12">
		
		<div class="containerElementLeft col-md-12 hidden-sm-down">
			<div>
				<div class="element rhombusLeft col-xs-12"> 
					<img align="middle" class="rhombusImg" src="img/awards.gif"/>
				</div>
			</div>
			
			
			<div  class="hidden-sm-down col-xs-12">
				<div class="elementContent  centerContentLeft hidden-sm-down  col-xs-11">
					{{ 'ACTUAL_AWARDS' | translate }}
				</div>
			</div>
			
		</div>

		
	</div>

	

		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down  titleContainerAwards">
				<span></span><p>{{ 'ACADEMICS' | translate }}</p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerAwards" style="margin-top: 15px;  ">

				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'ACADEMICS' | translate }}
					
				</div>
				<ul>
					<li><strong><i>{{ 'HONOR_MERIT' | translate }}</i></strong> {{ 'AT_USB' | translate }} ({{ 'JUNE' | translate }} 2013): {{ 'ACADEMIC_AWARD_1' | translate }}</li>
					<li><strong><i>{{ 'HONOR_MERIT' | translate }}</i></strong> {{ 'AT_USB' | translate }} {{ 'SEPTEMBER' | translate }} 2008: {{ 'ACADEMIC_AWARD_2' | translate }} </li>

				</ul>

			</div>
		</div>

		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down  titleContainerAwards">
				<span></span><p>{{ 'POETRY' | translate }}</p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerAwards" style="margin-top: 15px;  ">

				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'POETRY' | translate }}
					
				</div>
				<ul>
					<li><strong><i>{{ 'SPECIAL_MENTION_IRASET' | translate }} 2012</i></strong> {{ 'AT_USB' | translate }} ({{ 'MAY' | translate }} 2012): {{ 'POETRY_AWARD_IRASET' | translate }} </li>
					<li><strong><i>{{ 'SECOND_PLACE_SERRANO' | translate }} 2012</i></strong> {{ 'AT_USB' | translate }} ({{ 'MAY' | translate }} 2012): {{ 'ESSAY_AWARD_SERRANO' | translate }}</li>
					<li><strong><i>{{ 'SECOND_PLACE_IRASET' | translate }} 2011</i></strong> {{ 'AT_USB' | translate }} ({{ 'MAY' | translate }} 2011): {{ 'POETRY_AWARD_IRASET' | translate }}</li>
					<li><strong><i>Primer lugar en el Concurso Araguaney 2011</i></strong> {{ 'AT_USB' | translate }} {{ 'POETRY_AWARD_IRASET' | translate }}</li>
					<li><strong><i>{{ 'SECOND_PLACE_IRASET' | translate }} 2010 </i></strong> {{ 'AT_USB' | translate }} ({{ 'MAY' | translate }} 2010): {{ 'POETRY_AWARD_IRASET' | translate }}</li>
				</ul>
			</div>
		</div>

	