<div id="profileImage" data-ng-include='"templates/profile_header.html"' class="col-xs-12"></div>


	<div class="col-xs-12">
		
		<div class="containerElementLeft col-md-12 hidden-sm-down">
			<div>
				<div class="element rhombusLeft col-xs-12"> 
					<img align="middle" class="rhombusImg" src="img/congress.png"/>
				</div>
			</div>
			
		</div>

		<div  class="hidden-sm-down col-xs-12">
				<div class="elementContent  centerContentLeft hidden-sm-down  col-xs-11">
					{{ 'ACTUAL_CONGRESS' | translate }}
				</div>
		</div>

		
	</div>

	


		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down  hidden-sm-down  titleContainerAwards">
				<span></span><p>{{ 'PARTICIPANT' | translate }}</p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerAwards" style="margin-top: 15px;  ">

				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'PARTICIPANT' | translate }}
					
				</div>
				<ul>
					<li><strong><i>{{ 'CONGRESS_V_USB' | translate }}</i></strong> {{ 'AT_USB' | translate }} ({{ 'JUNE' | translate }} 2009) </li>
					<li><strong><i>{{ 'CONGRESS_VI_USB' | translate }}</i></strong> {{ 'AT_USB' | translate }} ({{ 'JUNE' | translate }} 2010) </li>
				</ul>
			</div>
		</div>

		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down  titleContainerAwards">
				<span></span><p>{{ 'PROTOCOL' | translate }}</p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerAwards" style="margin-top: 15px;  ">

				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'PROTOCOL' | translate }}
					
				</div>
				
				<ul>
					<li><strong><i>{{ 'CONGRESS_TELECOM_USB' | translate }}</i></strong> {{ 'AT_USB' | translate }} ({{ 'JULY' | translate }} 2010) </li>
					
				</ul>
			</div>
		</div>
