<div id="profileImage" data-ng-include='"templates/profile_header.html"' class="col-xs-12"></div>


	<div class="col-xs-12">
		
		<div class="containerElementLeft col-md-12 hidden-sm-down">
			<div>
				<div class="element rhombusLeft col-xs-12"> 
					<img align="middle" class="rhombusImg" src="img/project.gif"/>
				</div>
			</div>
			
			
			<div  class="hidden-sm-down col-xs-12">
				<div class="elementContent  centerContentLeft hidden-sm-down  col-xs-11">
					{{ 'ACTUAL_PROJECTS' | translate }}
				</div>
			</div>
			
		</div>

		
	</div>

	

		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down  titleContainerAwards">
				<span></span><p>{{ 'PUBLICATIONS' | translate }}</p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerAwards" style="margin-top: 15px;  ">

				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'PUBLICATIONS' | translate }}
					
				</div>
				<ol>
					<li>Ortiz-Conde, F.J. García-Sánchez, J. Muci, A. Sucre-González, J.A. Martino, P.G.D. Agopian, C. Claeys, <i>“Threshold voltage extraction in Tunnel FETs”</i>, Solid-State Electronics, Vol. 93, pp. 49-55, {{ 'MARCH' | translate }} 2014. <a href="http://dx.doi.org/10.1016/j.sse.2013.12.010">DOI: 10.1016/j.sse.2013.12.010</a></li>
					<li>Adelmo Ortiz-Conde, Francisco J. García-Sánchez, Juan Muci, Andrea Sucre-González <i>“A review of diode and solar cell equivalent circuit model lumped parameter extraction procedures.”</i> Facta Univ. Ser.: Elec. Energ., vol. 27, No. 1, {{ 'MARCH' | translate }} 2014, pp. 57-102. <a href="http://dx.doi.org/10.2298/FUEE1401057O ">DOI: 10.2298/FUEE1401057O </a></li>
					<li>F.J. García-Sánchez, A. Ortiz-Conde, J. Muci, A. Sucre-González, J.J. Liou, <i>“A unified look at the use of successive differentiation and integration in MOSFET model parameter extraction”</i>, Microelectronics Reliability, Vol. 55 (2), pp. 293-307, {{ 'FEBRUARY' | translate }} 2015. <a href="http://dx.doi.org/10.1016/j.microrel.2014.11.013">DOI: 10.1016/j.microrel.2014.11.013</a></li>
					<li>F.J. García Sánchez, A. Ortiz-Conde, J. Muci, A. Sucre Gonzalez, <i>“Systematic Characterization of Tunnel FETs Using a Universal Compact Model”</i>, IEEE Trans. Electron Dev., Vol. 62, No. 11, pp. 3554-3559, {{ 'NOVEMBER' | translate }} 2015. <a href="http://dx.doi.org/10.1109/TED.2015.2473683">DOI: 10.1109/TED.2015.2473683</a></li>
					<li>A. Sucre-González, F. Zárate-Rincón, A. Ortiz-Conde, R. Torres-Torres, F.J. García Sánchez, J. Muci, R. S. Murphy Arteaga, <i>“DC Method to Extract Mobility Degradation and Series Resistance of Multifinger Microwave MOSFETs”</i>, IEEE Transactions on Electron Devices, vol. PP, no. 99, {{ 'MARCH' | translate }} 2016, <a href="http://dx.doi.org/10.1109/TED.2016.2538778">DOI: 10.1109/TED.2016.2538778</a> </li>
					<li>A. Ortiz-Conde, A. Sucre-González, R. Torres-Torres, J. Molina, R. S. Murphy-Arteaga and F. J. García-Sánchez, <i>“Conductance-to-Current-Ratio-Based Parameter Extraction in MOS Leakage Current Models”</i> IEEE Transactions on Electron Devices, vol. 63, no. 10, pp. 3844-3850, Oct. 2016. <a href="http://dx.doi.org/10.1109/TED.2016.2597964">DOI: 10.1109/TED.2016.2597964</a></li>
					<li>Luis Contreras, Edgard Bonilla, Alexandro Tálamo, Andrea Sucre González, Ricardo Santos, Martha Moniz, Saúl Duque, Luis Coelho, Luis Gutiérrez, Henry Ojeda <i>“La escritura hecha en casa: Premios del concurso Segundo Serrano Poncela 2011-2015. Universidad Simón Bolívar”</i> Editorial Equinoccios, 2016.</li>
					<li>Adelmo Ortiz-Conde,  Andrea Sucre-González, Fabián Zárate-Rincón, Reydezel Torres-Torres, Roberto S. Murphy-Arteaga, Juin J. Liou, Francisco J. García-Sánchez. <i>“A review of DC extraction methods for MOSFET series resistance and mobility degradation model parameters”</i> Microelectronics Reliability, Vol.xx, pp. xx, {{ 'JANUARY' | translate }} 2017. <a href="http://dx.doi.org/10.1016/j.microrel.2014.11.013">DOI: 10.1016/j.microrel.2014.11.013</a></li>
				</ol>

			</div>
		</div>
	

		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down  titleContainerAwards">
				<span></span><p>{{ 'PROJECTS' | translate }}</p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerAwards" style="margin-top: 15px;  ">

				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'PROJECTS' | translate }}
					
				</div>
				<ul>
					<li><strong><i>Victorius</i></strong> {{ 'AT_INTEGRA' | translate }} ({{ 'APRIL' | translate }} 2016 - {{ 'OCTOBER' | translate }} 2016): {{ 'VICTORIUS_DESCRIPTION' | translate }} 
					<br>
					<iframe src="https://www.youtube.com/embed/KQuHwfD-o3E" frameborder="0" allowfullscreen></iframe>
					</li>	
					<li><strong><i>Kugadi</i></strong> {{ 'AT_MOBILEMEDIA' | translate }} ({{ 'NOVEMBER' | translate }} 2016 - {{ 'DECEMBER' | translate }} 2016): {{ 'KUGADI_DESCRIPTION' | translate }} <a href="https://www.kugadi.com/">https://www.kugadi.com/</a> </li>
					<li><strong><i>VE SIN FILTROS</i></strong> {{ 'AT_TURPIAL' | translate }} ({{ 'NOVEMBER' | translate }} 2016 - {{ 'MARCH' | translate }} 2017): {{ 'VSF_DESCRIPTION' | translate }} <a href="http://datos.vesinfiltro.org/">http://datos.vesinfiltro.org/</a> </li>
					<li><strong><i>Sistema de pasantías USB (SPE USB) </i></strong> {{ 'AT_USB' | translate }} ({{ 'SEPTEMBER' | translate }} 2016 - {{ 'PRESENT' | translate }}: {{ 'SPE_DESCRIPTION' | translate }}  </li>
					<li><strong><i>TidBit </i></strong> {{ 'AT_TURPIAL' | translate }} ({{ 'APRIL' | translate }} 2017 - {{ 'PRESENT' | translate }}: {{ 'TIDBIT_DESCRIPTION' | translate }}  </li>
					<li><strong><i>{{ 'DEGREE_TITLE' | translate }} </i></strong> {{ 'AT_USB' | translate }} ({{ 'MARCH' | translate }} 2012 - {{ 'AUGUST' | translate }} 2012): {{ 'DEGREE_TITLE_DESCRIPTION' | translate }}  </li>


					<li><strong><i>{{ 'MASTER_TITLE' | translate }} </i></strong> {{ 'AT_USB' | translate }} ({{ 'APRIL' | translate }} 2013 - {{ 'NOVEMBER' | translate }} 2015): {{ 'MASTER_TITLE_DESCRIPTION' | translate }}  </li>
				</ul>
			</div>
		</div>







	


	



