 
		<div id="profileImage" class="col-xs-12">
			<div class="col-md-12 hidden-sm-down">
				<img src="img/photoProfile.JPG"/>
			</div>
			<div class="col-xs-12">
				<div class="name">Andrea Sucre González</div>
				<div class="email">
					<div class=" col-xs-12" >
						<i class="fa fa-envelope" aria-hidden="true"> asucregonzalez@gmail.com</i> 
					</div>
					<div class=" col-xs-12" >
						<a href="https://www.facebook.com/andre.sucre">
							<i class="fa fa-facebook-square" aria-hidden="true"></i>
						</a>
						<a href="https://twitter.com/andreasucreg">
							<i class="fa fa-twitter-square" aria-hidden="true"></i>
						</a>

						<a href="Public Profilehttps://ve.linkedin.com/in/andrea-sucre-gonzález-45296b77">
							<i class="fa fa-linkedin-square" aria-hidden="true"></i>
						</a>
					</div>

					<div class=" col-xs-12" >
					CV:
						<a href="{{ 'CV' | translate }} ">
							<i class="fa fa-download" aria-hidden="true"></i>
						</a>
					</div>

				</div>
				
			</div>
		</div>

		<div class="col-xs-12">
			
			<div class="containerElement col-md-6 col-xs-6 col-sm-4">
				<div class="element col-xs-12"> 
					<a href="#/studies"> <img align="middle" src="img/birrete.gif"/></a>
				</div>
				<div class="elementContent subelement home hidden-sm-down col-xs-6 col-sm-4 col-sm-7 col-md-5 col-lg-8">
					<p>{{ 'STUDIES' | translate }}</p>
					
					
					<a href="#/studies"> {{ 'SEE_MORE' | translate }} </a>

				</div>
			</div>

			<div class="containerElement col-md-6 col-xs-6 col-sm-4">
				<div class="element col-xs-12"> 
					<a href="#/work_experience"><img src="img/work.gif"/></a>
				</div>
				<div class="elementContent subelement home hidden-sm-down col-xs-6 col-sm-4 col-sm-7 col-md-5 col-lg-8">
					<p>{{ 'WORK_EXPERIENCE' | translate }}</p>
					
					
					<a href="#/work_experience">{{ 'SEE_MORE' | translate }}</a>

				</div>
			</div>

			<div class="containerElement col-md-6 col-xs-6 col-sm-4">
				<div class="element col-xs-12"> 
					<a href="#/courses"><img src="img/courses.gif"/></a>
				</div>
				<div class="elementContent subelement home hidden-sm-down col-xs-6 col-sm-4 col-sm-7 col-md-5 col-lg-8">
					<p>{{ 'COURSES' | translate }}</p>
					
					
					<a href="#/courses">{{ 'SEE_MORE' | translate }}</a>

				</div>
			</div>

			<div class="containerElement col-md-6 col-xs-6 col-sm-4">
				<div class="element col-xs-12"> 
					<a href="#/projects"><img src="img/project.gif"/></a>
				</div>
				<div class="elementContent subelement home hidden-sm-down col-xs-6 col-sm-4 col-sm-7 col-md-5 col-lg-8">
					<p>{{ 'PROJECTS' | translate }}</p>
					
					
					<a href="#/projects">{{ 'SEE_MORE' | translate }}</a>

				</div>
			</div>

			<div class="containerElement col-md-6 col-xs-6 col-sm-4">
				<div class="element col-xs-12"> 
					<a href="#/congresses"><img src="img/congress.png"/></a>
				</div>
				<div class="elementContent subelement home hidden-sm-down col-xs-6 col-sm-4 col-sm-7 col-md-5 col-lg-8">
					<p>{{ 'CONGRESSES' | translate }}</p>
					
					
					<a href="#/congresses">{{ 'SEE_MORE' | translate }}</a>

				</div>
			</div>

			<div class="containerElement col-md-6 col-xs-6 col-sm-4">
				<div class="element col-xs-12"> 
					<a href="#/skills"><img src="img/skill.gif"/></a>
				</div>
				<div class="elementContent subelement home hidden-sm-down col-xs-6 col-sm-4 col-sm-7 col-md-5 col-lg-8">
					<p>{{ 'SKILLS' | translate }}</p>
					
					
					<a href="#/skills">{{ 'SEE_MORE' | translate }}</a>

				</div>
			</div>

			<div class="containerElement col-md-6 col-xs-6 col-sm-4">
				<div class="element col-xs-12"> 
					<a href="#/awards"><img src="img/awards.gif"/></a>
				</div>
				<div class="elementContent subelement home hidden-sm-down col-xs-6 col-sm-4 col-sm-7 col-md-5 col-lg-8">
					<p>{{ 'AWARDS' | translate }}</p>
					
					<a href="#/awards">{{ 'SEE_MORE' | translate }}</a>

				</div>
			</div>

			<div class="containerElement col-md-6 col-xs-6 col-sm-4">
				<div class="element col-xs-12"> 
					<a href="#/volunteer"><img src="img/volunteer.gif"/></a>
				</div>
				<div class="elementContent subelement home hidden-sm-down col-xs-6 col-sm-4 col-sm-7 col-md-5 col-lg-8">
					<p>{{ 'VOLUNTEER' | translate }}</p>
				
					<a href="#/volunteer">{{ 'SEE_MORE' | translate }}</a>

				</div>
			</div>

			<div class="containerElement col-md-6 col-xs-6 col-sm-4">
				<div class="element col-xs-12"> 
					<a href="#/arts"><img src="img/arts.gif"/></a>
				</div>
				<div class="elementContent subelement home hidden-sm-down col-xs-6 col-sm-4 col-sm-7 col-md-5 col-lg-8">
					<p>{{ 'ARTS' | translate }}</p>
					
				
					<a href="#/arts">{{ 'SEE_MORE' | translate }}</a>

				</div>
			</div>

		</div>

	