<div class="col-md-3 secundaryPageHeaderContent hidden-sm-down">
			<img class="secundaryPageHeaderImg" src="img/photoProfile.JPG"/>
		</div>
		<div class="secundaryPageHeaderContent col-xs-12 col-md-9">
			<div class="name">Andrea Sucre González</div>
			<div class="email" title="{{ 'CONTACT_ME' | translate }}">
				<div class=" col-xs-12" >
					<i class="fa fa-envelope" aria-hidden="true"> </i> 
					asucregonzalez@gmail.com
				</div>
				<div class=" col-xs-12" >
					<a href="https://www.facebook.com/andre.sucre">
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
					</a>
					<a href="https://twitter.com/andreasucreg">
						<i class="fa fa-twitter-square" aria-hidden="true"></i>
					</a>

					<a href="Public Profilehttps://ve.linkedin.com/in/andrea-sucre-gonzález-45296b77">
						<i class="fa fa-linkedin-square" aria-hidden="true"></i>
					</a>
				</div>
				
				<div class=" col-xs-12" >
					CV:
						<a href="{{ 'CV' | translate }} ">
							<i class="fa fa-download" aria-hidden="true"></i>
						</a>
				</div>
				

			</div>
			
		</div>