<div id="profileImage" data-ng-include='"templates/profile_header.html"' class="col-xs-12"></div>
	
		<div class="containerElement  col-md-12 hidden-sm-down">
			<div>
				<div class="element rhombus col-xs-12"> 
					<img align="middle" class="rhombusImg" style="margin-left: 15px;margin-top: 15px;width: 70%;height: 70%;" src="img/arts.gif"/>
				</div>
				<div class="elementContent  centerContent hidden-sm-down col-xs-12">
					{{ 'ACTUAL_ARTS' | translate }} 
				</div>
			</div>
			
		</div>

		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down titleContainerAwards">
				<span></span><p>{{ 'UNIVERSALIA' | translate }}</p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerSkills">
				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'UNIVERSALIA' | translate }}
					
				</div>
				<ul>
					<li><strong><i>Poesía y plenitud: Yo te veo a ti y a mí en una misma mirada</i></strong>, Universalia nº 35, pag. 9 (<a href="http://www.universalia.usb.ve/node/4">http://www.universalia.usb.ve/node/4</a>), abril-julio 2012 <a href="/pdf/Universalia 35.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> </li>
					<li><i><strong>Tomar el riesgo</i></strong>, Universalia nº 34, pag. 18 (<a href="http://www.universalia.usb.ve/node/4">http://www.universalia.usb.ve/node/4</a>), enero-marzo 2012 <a href="/pdf/Universalia 34.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
					<li><strong><i>Despertando y soñando</i></strong>, Universalia nº 31, pag. 18 (<a href="http://www.universalia.usb.ve/node/4">http://www.universalia.usb.ve/node/4</a>), septiembre-diciembre 2010 <a href="/pdf/Universalia 31.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
				
				</ul>
			</div>
		</div>
		
		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down titleContainerAwards">
				<span></span><p>{{ 'EQUINOCCIOS' | translate }}</p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerSkills">
				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'EQUINOCCIOS' | translate }}
					
				</div>
				<ul>
					<li>Luis Contreras, Edgard Bonilla, Alexandro Tálamo, Andrea Sucre González, Ricardo Santos, Martha Moniz, Saúl Duque, Luis Coelho, Luis Gutiérrez, Henry Ojeda <strong><i>La escritura hecha en casa: Premios del concurso Segundo Serrano Poncela 2011-2015. Universidad Simón Bolívar</i></strong> Editorial Equinoccios, 2016. (<a href="https://usbnoticias.info/post/47434">https://usbnoticias.info/post/47434</a>)</li>
				</ul>
			</div>
		</div>

		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down titleContainerAwards">
				<span></span><p> Ozono Jazz </p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerSkills">
				<div class="col-xs-12 hidden-md-up titleContainer">
						Ozono Jazz
					
				</div>
				<ul>
					<li>{{ 'POETRY_SONG' | translate }} <strong><i>Desamores</i></strong>
					<br>
						<iframe  src="https://www.youtube.com/embed/GXJNExXnDGw?autoplay=0" frameborder="0" allowfullscreen></iframe>

					</li>
					
				</ul>
			</div>
		</div>

		



				
