		<div id="profileImage" data-ng-include='"templates/profile_header.html"' class="col-xs-12"></div>
	

		<div class="containerElement  col-md-12 hidden-sm-down">
			<div>
				<div class="element rhombus col-xs-12"> 
					<img align="middle" class="rhombusImg" style="margin-left: 15px;margin-top: 15px;width: 70%;height: 70%;" src="img/skill.gif"/>
				</div>
				<div class="elementContent  centerContent hidden-sm-down col-xs-12">
					{{ 'ACTUAL_SKILLS' | translate }} 
				</div>
			</div>
			
		</div>

		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down titleContainerAwards">
				<span></span><p>{{ 'LANGUAGES' | translate }}</p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerSkills">
				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'LANGUAGES' | translate }}
					
				</div>
				<ul>
					<li>{{ 'SPANISH' | translate}} </li>
					<li>{{ 'ENGLISH' | translate}} </li>
					<li>{{ 'PORTUGUES' | translate}} </li>
					<li>{{ 'GERMAN' | translate}} </li>
				</ul>
			</div>
		</div>

		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down titleContainerAwards">
				<span></span><p> {{ 'WEB_MOBILE_DEV' | translate }}</p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerSkills">
				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'WEB_MOBILE_DEV' | translate }}
					
				</div>
				<ul>
					<li>HTML, CCS y JavaScript</li>
					<li>Struts</li>
					<li>C</li>
					<li>Python</li>
					<li>WordPress</li>
					<li>Web2Py</li>
					<li>DJango</li>
					<li>Ionic</li>
					<li>AngularJS</li>
				</ul>
			</div>
		</div>

		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down titleContainerAwards">
				<span></span><p>{{ 'MATH_MOD' | translate }}</p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerSkills">
				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'MATH_MOD' | translate }}
					
				</div>
				<ul>
					<li>Maple</li>
					<li>Sigmaplot</li>
					<li>Origin</li>
					<li>Simulations</li>
					<li>MatLab</li>
					<li>Simulink</li>
					<li>LabView</li>
					<li>SPICE</li>
				</ul>
			</div>
		</div>




				


		
				

