		<div id="profileImage" data-ng-include='"templates/profile_header.html"' class="col-xs-12"></div>
	

		<div class="containerElement  col-md-12 hidden-sm-down">
			<div>
				<div class="element rhombus col-xs-12"> 
					<img align="middle" class="rhombusImg" style="margin-left: 15px;margin-top: 15px;width: 70%;height: 70%;" src="img/volunteer.gif"/>
				</div>
				<div class="elementContent  centerContent hidden-sm-down col-xs-12">
					{{ 'ACTUAL_VOLUNTEER' | translate }} 
				</div>
			</div>
			
		</div>

		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down titleContainerAwards">
				<span></span><p> Coursera </p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerSkills">
				<div class="col-xs-12 hidden-md-up titleContainer">
						Coursera
					
				</div>
				<ul>
					<li><strong><i>{{ 'TRANSLATOR_COURSERA' | translate }}</i></strong>({{ 'FROM_MAY' | translate }} 2016): {{ 'TRANSLATOR_COURSERA_DESCRIPTION' | translate }} </li>
					<li><strong><i>{{ 'BETATESTER_COURSERA' | translate }}</i></strong> ({{ 'FROM_AUGUST' | translate }} 2016): {{ 'BETATESTER_COURSERA_DESCRIPTION' | translate }}  </li>
				</ul>
			</div>
		</div>


		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down titleContainerAwards">
				<span></span><p> {{ 'USB' | translate }} </p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerSkills">
				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'USB' | translate }}
					
				</div>
				<ul>
					<li><strong><i>{{ 'USB_STUDENT_CENTER' | translate }}</i></strong>({{ 'JULY' | translate }} 2010 - {{ 'MARCH' | translate }} 2011): {{ 'USB_STUDENT_CENTER_DESCRIPTION' | translate }} </li>
					<li><strong><i>{{ 'USB_RANGER' | translate }}</i></strong>({{ 'JULY' | translate }} 2012 - {{ 'FEBRUARY' | translate }} 2013): {{ 'USB_RANGER_DESCRIPTION' | translate }} </li>
				</ul>
			</div>
		</div>

		<div class="col-xs-12 containerBoxAwards">
			<div class="col-xs-3 hidden-sm-down titleContainerAwards">
				<span></span><p> {{ 'MERICI' | translate }} </p>
			</div>
			<div class="col-xs-12 col-md-8 elementContent subelement textContainerSkills">
				<div class="col-xs-12 hidden-md-up titleContainer">
						{{ 'MERICI' | translate }}
					
				</div>
				<ul>
					<li><strong><i>{{ 'MERICI_STUDENT_CENTER' | translate }}</i></strong>(2006-2007): {{ 'MERICI_STUDENT_CENTER_DESCRIPTION' | translate }} </li>
					
				</ul>
			</div>
		</div>








